<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>7z.icns</string>
			<key>CFBundleTypeName</key>
			<string>7-Zip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.7-zip.7-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>zip.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZIP Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>tar.icns</string>
			<key>CFBundleTypeName</key>
			<string>TAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gz.icns</string>
			<key>CFBundleTypeName</key>
			<string>GZIP Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>bz2.icns</string>
			<key>CFBundleTypeName</key>
			<string>BZIP2 Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.bzip2-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>rar.icns</string>
			<key>CFBundleTypeName</key>
			<string>RAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.rarlab.rar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iso.icns</string>
			<key>CFBundleTypeName</key>
			<string>ISO Disc Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.iso-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>cab.icns</string>
			<key>CFBundleTypeName</key>
			<string>CAB Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.cab</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>cpio.icns</string>
			<key>CFBundleTypeName</key>
			<string>CPIO Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.cpio-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>xz.icns</string>
			<key>CFBundleTypeName</key>
			<string>XZ Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tukaani.xz-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>dmg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.disk-image-udif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>z.icns</string>
			<key>CFBundleTypeName</key>
			<string>Z Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.z-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>xar.icns</string>
			<key>CFBundleTypeName</key>
			<string>XAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pkg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Installer Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.installer-package-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>xip.icns</string>
			<key>CFBundleTypeName</key>
			<string>XIP Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>arj.icns</string>
			<key>CFBundleTypeName</key>
			<string>ARJ Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.arj-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>lzh.icns</string>
			<key>CFBundleTypeName</key>
			<string>LZH Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.lzh-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>wim.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Imaging Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.wim-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>rpm.icns</string>
			<key>CFBundleTypeName</key>
			<string>RPM Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.rpm-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>deb.icns</string>
			<key>CFBundleTypeName</key>
			<string>Debian Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.deb-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>chm.icns</string>
			<key>CFBundleTypeName</key>
			<string>Compiled HTML Help</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.chm-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>nsis.icns</string>
			<key>CFBundleTypeName</key>
			<string>NSIS Installer</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.nsis-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>lzma.icns</string>
			<key>CFBundleTypeName</key>
			<string>LZMA Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.lzma-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ar.icns</string>
			<key>CFBundleTypeName</key>
			<string>Unix ar Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.ar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>squashfs.icns</string>
			<key>CFBundleTypeName</key>
			<string>SquashFS Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.squashfs-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ext.icns</string>
			<key>CFBundleTypeName</key>
			<string>ext Filesystem Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.ext-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>fat.icns</string>
			<key>CFBundleTypeName</key>
			<string>FAT Filesystem Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.fat-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ntfs.icns</string>
			<key>CFBundleTypeName</key>
			<string>NTFS Filesystem Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.ntfs-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>hfs.icns</string>
			<key>CFBundleTypeName</key>
			<string>HFS+ Filesystem Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.hfs-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>apfs.icns</string>
			<key>CFBundleTypeName</key>
			<string>APFS Filesystem Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.apfs-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>vhd.icns</string>
			<key>CFBundleTypeName</key>
			<string>Virtual Hard Disk</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.vhd-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>vhdx.icns</string>
			<key>CFBundleTypeName</key>
			<string>Virtual Hard Disk v2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.vhdx-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>vmdk.icns</string>
			<key>CFBundleTypeName</key>
			<string>VMware Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.vmdk-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>qcow.icns</string>
			<key>CFBundleTypeName</key>
			<string>QEMU Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.qcow-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>vdi.icns</string>
			<key>CFBundleTypeName</key>
			<string>VirtualBox Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.vdi-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>udf.icns</string>
			<key>CFBundleTypeName</key>
			<string>UDF Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jensyleo.sevenzip4mac.udf-image</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2026 Jensy Leonardo Martínez Cruz. Bundles 7-Zip by Igor Pavlov (GNU LGPL).</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>7ZIP4MAC.sdef</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>7ZIP4MAC can be automated via AppleScript and Shortcuts to compress and extract archives.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ARJ Archive</string>
			<key>UTTypeIconFile</key>
			<string>arj.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.arj-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>arj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LZH Archive</string>
			<key>UTTypeIconFile</key>
			<string>lzh.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.lzh-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lzh</string>
					<string>lha</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Windows Imaging Format</string>
			<key>UTTypeIconFile</key>
			<string>wim.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.wim-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wim</string>
					<string>swm</string>
					<string>esd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RPM Package</string>
			<key>UTTypeIconFile</key>
			<string>rpm.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.rpm-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rpm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Debian Package</string>
			<key>UTTypeIconFile</key>
			<string>deb.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.deb-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>deb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compiled HTML Help</string>
			<key>UTTypeIconFile</key>
			<string>chm.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.chm-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>chm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NSIS Installer</string>
			<key>UTTypeIconFile</key>
			<string>nsis.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.nsis-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nsis</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LZMA Archive</string>
			<key>UTTypeIconFile</key>
			<string>lzma.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.lzma-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lzma</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Unix ar Archive</string>
			<key>UTTypeIconFile</key>
			<string>ar.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.ar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ar</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SquashFS Image</string>
			<key>UTTypeIconFile</key>
			<string>squashfs.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.squashfs-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>squashfs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ext Filesystem Image</string>
			<key>UTTypeIconFile</key>
			<string>ext.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.ext-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ext</string>
					<string>ext2</string>
					<string>ext3</string>
					<string>ext4</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FAT Filesystem Image</string>
			<key>UTTypeIconFile</key>
			<string>fat.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.fat-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fat</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NTFS Filesystem Image</string>
			<key>UTTypeIconFile</key>
			<string>ntfs.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.ntfs-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ntfs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HFS+ Filesystem Image</string>
			<key>UTTypeIconFile</key>
			<string>hfs.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.hfs-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hfs</string>
					<string>hfsx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>APFS Filesystem Image</string>
			<key>UTTypeIconFile</key>
			<string>apfs.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.apfs-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>apfs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Virtual Hard Disk</string>
			<key>UTTypeIconFile</key>
			<string>vhd.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.vhd-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vhd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Virtual Hard Disk v2</string>
			<key>UTTypeIconFile</key>
			<string>vhdx.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.vhdx-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vhdx</string>
					<string>avhdx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VMware Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>vmdk.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.vmdk-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vmdk</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QEMU Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>qcow.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.qcow-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qcow</string>
					<string>qcow2</string>
					<string>qcow2c</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VirtualBox Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>vdi.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.vdi-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vdi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>UDF Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>udf.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.jensyleo.sevenzip4mac.udf-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>udf</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
